{% extends 'base.html' %}

{% block title %}Author Detail{% endblock %}

{% block content %}

    <h1>Author Detail</h1>
    <div>
        <h2>{{ author }}</h2>
        {{ object }}
        {{ follow }}
        {#        {% if tweets %}#}
        {#            <p>#}
        {#                This person has posted the following Tweets:#}
        {#            </p>#}
        {#            <ul>#}
        {#                {% for tweet in tweets %}#}
        {#                    <li><a href="/tweet/{{ tweet.id }}">{{ tweet.title }}</a></li>#}
        {#                {% endfor %}#}
        {#            </ul>#}
        {#        {% else %}#}
        {#            <p>#}
        {#                This person has posted no tweets. Click <a href="{% url 'create_tweet' %}">here</a> to start posting!#}
        {#            </p>#}
        {#        {% endif %}#}
    </div>

{% endblock %}