{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>Home</h1>

    <div>
        <div class="ui grid">
            <div class="row">
                <div class="four wide column">
                    <p>username: <strong>{{ twitteruser_obj.username }}</strong></p>
                    <p>total tweets: <strong>{{ tweets_total }}</strong></p>
                    <p>total following: <strong>{{ followers_total }}</strong></p>
                </div>
                <div class="twelve wide column">
                    {% for tweet in tweets %}
                        <li>
                            <a href="/user/{{ tweet.author.id }}">{{ tweet.author }}</a>
                            - <a href="/tweet/{{ tweet.id }}">{{ tweet.create_time }}</a> <br/>
                            {{ tweet.title }}</li>
                        <small><a href="/tweet/{{ tweet.id }}">read more...</a></small>
                    {% endfor %}
                </div>
            </div>
        </div>
        {{ follow }}
    </div>

{% endblock %}


