{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <p>
        {{ user }}
        <br/>
        <a href="/author/{{ user.id }}">@{{ user }}</a>

    </p>

    {% for tweet in tweets %}

        <ul>
            <li>
                <a href="/author/{{ tweet.author.id }}">{{ tweet.author }}</a>
                - <a href="/tweet/{{ tweet.id }}">{{ tweet.create_time }}</a></li>
            <ul>
                <li>{{ tweet.title }}</li>
                <small><a href="/tweet/{{ tweet.id }}">read more...</a></small>
            </ul>
        </ul>

    {% endfor %}

    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>

{% endblock %}