{% extends 'base.html' %}

{% block title %}Tweet List{% endblock %}

{% block content %}

    <h1>Twitter Users</h1>

    {% for twitteruser in twitterusers %}
        {% if twitteruser.username != user.username %}
            <ul>
                <li>
                    {{ twitteruser }}
                    <br/>
                    <a href="/user/{{ twitteruser.id }}">
                        visit profile
                    </a>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

{% endblock %}